@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    font-family: 'Nunito', cursive;
}

body {
    margin: 0;
    padding: 0;
    background: url('./polygons-geometric-blur-background-connected-dots-3840x2400-1740.jpg') no-repeat fixed;
    background-size: cover;
}

.container {
    width: 85%;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #82828292;

    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #828282;

        &__link {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
            padding: 20px 0;

            &__item {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 22px;
                color: #040404;
                padding: 10px;
                text-decoration: none;
                display: flex;
                align-items: center;
                border-radius: 20px;

                svg {
                    margin-right: 10px;
                }

            }

            &__item:hover {
                color: white;
                background-color: #2F4F4F;
            }

            .active_link {
                color: white;
                background-color: #2F4F4F;
            }

            .active {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 22px;
                color: #070707;
                border-bottom: grey;
            }
        }
    }
}


main {
    display: flex;
    justify-content: center;
    padding: 70px 0 0 0;

    .main {
        display: flex;
        // flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 50px;
        padding: 50px 0;

        &__top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 20px;

            &__username {
                font-family: 'Gilroy-Bold';
                font-size: 47.3392px;
                line-height: 59px;
                max-width: 200px;
            }

            &__desc {
                font-family: 'Gilroy-Medium';
                font-size: 18px;
                line-height: 22px;
                max-width: 170px;
            }

            &__lang {
                background-color: #2F4F4F;
                padding:5px 10px;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                border-radius: 30px;
                color: white;
                .active {
                    color: white;
                    background-color: #778899;

                }

                a {
                    text-decoration: none;
                    color: #070707;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: center;

            img {
                max-width: 1010px;
                width: 100%;
            border-radius: 40px;

            }
        }
    }
}

.aboutme {
    display: flex;
    justify-content: center;
    background: #f6f6f63b;
    padding: 60px 0;

    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__title {
            font-family: 'Gilroy-Bold';
            font-size: 34px;
            line-height: 42px;
            text-align: center;
        }

        &__text {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            max-width: 440px;
        }
    }
}

.skills {
    display: flex;
    justify-content: center;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
        padding: 40px 0;

        &__title {
            font-family: 'Gilroy-Bold';
            font-size: 34px;
            line-height: 42px;
            text-align: center;
        }

        &__desc {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
            text-align: center;
        }

        &__block {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;

            &__items {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;

                &__desc {
                    font-family: 'Gilroy-Bold';
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: 500;
                    text-align: center;
                    color: black;
                }

                img {
                    max-width: 100px;
                    height: 100px;
                }
            }
        }
    }
}

.portfolio {
    display: flex;
    justify-content: center;
    background: #f6f6f64e;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: 'Gilroy-Bold';
            font-weight: 400;
            font-size: 30px;
        }
    }

    &__inner {
        display: flex;
        gap: 40px;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        flex-wrap: wrap;
        justify-content: space-around;

        &__block {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;

            img {
                max-width: 500px;
                border-radius: 20px;
            }

            &__link {
                font-family: 'Gilroy-Medium';
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-decoration-line: underline;
                color: #070707;
            }
        }
    }
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        &__title {
            font-family: 'Gilroy-Bold';
            font-size: 34px;
            line-height: 42px;
            text-align: center;
        }

        &__desc {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            max-width: 200px;
        }

        &__btn {
            width: 180.5px;
            height: 42px;
            background-color: #070707;
            border-radius: 30px;
            font-family: 'Gilroy-Bold';
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        &__link {

            &__btn {
                border: none;
                background-color: inherit;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        &__footer {
            font-family: 'Gilroy-Medium';
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #828282;
            max-width: 200px;
        }
    }
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.filter {
    background-color: #fdf8f869;
}