body {
  margin: 0;
  padding: 0;
  background: url(./31189.webp) no-repeat fixed;
  background-size: cover; }

.container {
  width: 85%;
  display: flex;
  justify-content: center; }

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #82828292; }
  header .header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #828282;
    padding: 30px 0; }
    header .header__link {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px; }
      header .header__link__item {
        font-family: 'Gilroy-Bold';
        font-size: 18px;
        line-height: 22px;
        color: #040404;
        text-decoration: none; }
      header .header__link .active_link {
        border-bottom: #4b4747 solid 1px;
        color: #4b4747; }
      header .header__link .active {
        font-family: 'Gilroy-Bold';
        font-size: 18px;
        line-height: 22px;
        color: #070707;
        border-bottom: grey; }

main {
  display: flex;
  justify-content: center;
  padding: 70px 0 0 0; }
  main .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 50px 0; }
    main .main__top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap; }
      main .main__top__username {
        font-family: 'Gilroy-Bold';
        font-size: 47.3392px;
        line-height: 59px;
        max-width: 200px; }
      main .main__top__desc {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 22px;
        max-width: 170px; }
      main .main__top__lang {
        transform: rotate(-90deg); }
        main .main__top__lang .active {
          color: #070707;
          text-decoration: underline; }
        main .main__top__lang a {
          text-decoration: none;
          color: #060000; }
    main .main__bottom {
      display: flex;
      justify-content: center; }
      main .main__bottom img {
        max-width: 1010px;
        width: 100%; }

.aboutme {
  display: flex;
  justify-content: center;
  background: #f6f6f63b;
  padding: 60px 0; }
  .aboutme__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
    .aboutme__inner__title {
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      text-align: center; }
    .aboutme__inner__text {
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      max-width: 440px; }

.skills {
  display: flex;
  justify-content: center; }
  .skills__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    padding: 40px 0; }
    .skills__inner__title {
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      text-align: center; }
    .skills__inner__desc {
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      text-align: center; }
    .skills__inner__block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: wrap; }
      .skills__inner__block__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center; }
        .skills__inner__block__items__desc {
          font-family: 'Gilroy-Bold';
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #828282; }
        .skills__inner__block__items img {
          max-width: 100px;
          height: 100px; }

.portfolio {
  display: flex;
  justify-content: center;
  background: #f6f6f64e; }
  .portfolio__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    padding: 30px 0; }
    .portfolio__inner__block {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center; }
      .portfolio__inner__block__img {
        width: 100%; }
      .portfolio__inner__block__link {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: #070707; }

.contacts {
  display: flex;
  justify-content: center;
  padding: 40px 0; }
  .contacts__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .contacts__inner__title {
      font-family: 'Gilroy-Bold';
      font-size: 34px;
      line-height: 42px;
      text-align: center; }
    .contacts__inner__desc {
      font-family: 'Gilroy-Medium';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      max-width: 200px; }
    .contacts__inner__btn {
      width: 180.5px;
      height: 42px;
      background-color: #070707;
      border-radius: 30px;
      font-family: 'Gilroy-Bold';
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center; }
    .contacts__inner__link__btn {
      border: none;
      background-color: inherit; }
      .contacts__inner__link__btn img {
        width: 40px;
        height: 40px; }
    .contacts__inner__footer {
      font-family: 'Gilroy-Medium';
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #828282;
      max-width: 200px; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }

.filter {
  background-color: #fdf8f869; }
