* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 78px;
}


.header {
    display: flex;
    justify-content: space-between;
    gap: 488px;
    align-items: center;
}

.main__link__items {
    display: flex;
    gap: 50px;
}

.link__item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #94959A;
}

.main__btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 148px;
    height: 49px;
    background: #120D26;
    border-radius: 6px;
}

button {
    cursor: pointer;
}

.main__link {
    display: flex;
    gap: 50px;
    align-items: center;
}

.active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #120D26;
}

.main__inner {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
}

.left__inner {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.left__inner__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    max-width: 550px;
}

.left__inner__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #94959A;
    max-width: 585px;
}

.orange__btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 230px;
    height: 70px;
    left: 80px;
    background: #FF7058;
    border-radius: 15px;
    border: none;
}

.left__inner__btn {
    display: flex;
    align-items: center;
    gap: 27px;
}

.orange__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7058;
}

.using__list__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #94959A;
}

.using__list__brands__icon {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.using__list__inner {
    display: flex;
    gap: 54px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.using__list {
    display: flex;
    justify-content: center;
}

.our__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our__price__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 112, 88, 0.05);
    height: 200px;
    gap: 20px;
    width: 1265px;
    margin-top: 160px;
}

.our__price__inner {
    display: flex;
    gap: 46px;
}

.our__price__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.grey__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #94959A;
}

.our__price__inner__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
    border-radius: 15px;
    width: 360px;
}

.card1 {
    height: 540px;
}

.card2 {
    height: 734px;
}

.card3 {
    height: 926px;
}

.card__price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #120D26;
}

.card__price span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #94959A;
}

.card__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FF7058;
}

.card__desc {
    max-width: 252px;
    border-bottom: #94959A 1px solid;
    padding-bottom: 20px;
    text-align: center;
}

.check__mark {
    display: flex;
    align-items: center;
}

.buy__now__btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 292px;
    height: 80px;
    background: #FF7058;
    border-radius: 15px;
    border: none;
}

.leader__design__inner {
    display: flex;
    justify-content: center;
    height: 900px;
    gap: 90px;
    padding-top: 60px;
}

.leader__design__inner__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.leader__desing {
    background-color: rgba(255, 112, 88, 0.05);
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.leader__design__inner__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    max-width: 437px;
}

.leader__design__inner__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #94959A;
    max-width: 422px;
}

.digital__branding {
    display: flex;
    justify-content: center;
    height: 738px;
    align-items: center;
    background: rgba(255, 112, 88, 0.05);
}

.orange__main {
    background: #FF7058;
    border-radius: 25px;
    width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    height: 512px;
    justify-content: center;
}

.digital__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 861px;
}

.digital__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    max-width: 861px;
}

.digital__btn {
    width: 230px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    border: none;
}

#region {
    width: 190px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(241, 102, 24, 0.15);
    border-radius: 8px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #29253C;
}

footer {
    display: flex;
    justify-content: center;
}

.footer__cont {
    display: flex;
    padding-top: 40px;
    gap: 601px;
    height: 300px;
    border-bottom: black solid 2px;
}

.footer__left {
    display: flex;
    gap: 170px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.footer__contact__link {
    display: flex;
    flex-direction: column;
}

.footer__contact__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.footer__contact__link a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FF7058;
}

.footer__contact__link {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer__end {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link__end {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

footer .container {
    gap: 20px;
    display: flex;
}