body {
  margin: 0;
  padding: 0; }

.container {
  width: 90%;
  display: flex;
  justify-content: center; }

header {
  background: #DEECEC; }

.header {
  display: flex;
  justify-content: center;
  border-bottom: 0.8px solid #84BABE; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .header__link {
    display: flex;
    gap: 25px;
    align-items: center; }
    .header__link__item {
      padding: 30px 0;
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #2C5F63;
      text-decoration: none; }
  .header__btn {
    display: flex;
    gap: 10px; }
    .header__btn button {
      border: none;
      background-color: inherit; }
  .header .active {
    border-bottom: grey 1px solid; }

.main {
  display: flex;
  justify-content: center; }
  .main__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main__inner__left {
      display: flex;
      flex-direction: column;
      gap: 30px; }
      .main__inner__left__theme {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 60px;
        color: #589195; }
      .main__inner__left__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        max-width: 430px; }
      .main__inner__left__desc {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #707686;
        max-width: 593px; }
      .main__inner__left__btn {
        width: 170px;
        height: 50px;
        background: #589195;
        border-radius: 38px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center; }

.latest {
  display: flex;
  justify-content: center; }
  .latest__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    gap: 40px; }
    .latest__inner__top {
      display: flex;
      justify-content: space-between; }
      .latest__inner__top__item {
        display: flex;
        flex-direction: column;
        gap: -5px; }
        .latest__inner__top__item__img {
          width: 50px;
          height: 50px; }
        .latest__inner__top__item__title {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 60px; }
        .latest__inner__top__item__desc {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 25px;
          color: #7F8698;
          max-width: 196px; }
    .latest__inner__bottom__title {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px; }
    .latest__inner__bottom__desc {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: #707686; }
    .latest__inner__bottom__block {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 0 0; }
      .latest__inner__bottom__block__items {
        display: flex;
        flex-direction: column;
        max-width: 255px;
        width: 100%; }
        .latest__inner__bottom__block__items__top {
          width: 100%;
          background: #F7F8FC;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .latest__inner__bottom__block__items__top__title {
            width: 100%;
            display: flex;
            justify-content: space-between; }
            .latest__inner__bottom__block__items__top__title__left {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 25px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #FFFFFF;
              width: 38px;
              height: 17px;
              background: #31797E;
              border-radius: 2px;
              display: flex;
              justify-content: center;
              margin: 10px; }
            .latest__inner__bottom__block__items__top__title__right {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 25px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #FFFFFF;
              width: 38px;
              height: 17px;
              background: #F04726;
              border-radius: 2px;
              justify-content: center;
              display: flex;
              margin: 10px; }
          .latest__inner__bottom__block__items__top__img {
            padding: 0 0 30px 0; }
        .latest__inner__bottom__block__items__bottom {
          display: flex;
          flex-direction: column; }
          .latest__inner__bottom__block__items__bottom__reviews {
            display: flex;
            gap: 5px; }
            .latest__inner__bottom__block__items__bottom__reviews__title {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 25px;
              color: #7F8698; }
          .latest__inner__bottom__block__items__bottom__title {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 50px; }
          .latest__inner__bottom__block__items__bottom__desc {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .latest__inner__bottom__block__items__bottom__desc__price {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              line-height: 35px;
              color: #297176; }
              .latest__inner__bottom__block__items__bottom__desc__price span {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                color: #969DAD;
                padding: 0 0 0 30px;
                text-decoration: line-through 1px; }

.jeans {
  background: #F6F8FA;
  display: flex;
  justify-content: center; }
  .jeans__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0; }
    .jeans__inner__right {
      display: flex;
      flex-direction: column; }
      .jeans__inner__right__theme {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 60px;
        color: #589195; }
      .jeans__inner__right__title {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px; }
      .jeans__inner__right__desc {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #707686;
        max-width: 479px; }
      .jeans__inner__right__block {
        max-width: 393px;
        width: 100%; }
        .jeans__inner__right__block__items {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center; }
          .jeans__inner__right__block__items__price {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            color: #589195; }
            .jeans__inner__right__block__items__price span {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 60px;
              color: #5B6075;
              text-decoration: line-through 1px; }
          .jeans__inner__right__block__items__btn {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 60px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            width: 159px;
            height: 50px;
            background: #589195;
            border-radius: 38px;
            border: none;
            display: flex;
            justify-content: center; }
        .jeans__inner__right__block__end {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 60px; }
        .jeans__inner__right__block__time {
          display: flex;
          gap: 5px; }
          .jeans__inner__right__block__time__block {
            display: flex;
            gap: 5px; }
          .jeans__inner__right__block__time__points {
            font-family: 'Outfit';
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 60px;
            padding: 10px 0 0 0; }
          .jeans__inner__right__block__time__items {
            display: flex;
            flex-direction: column; }
            .jeans__inner__right__block__time__items__title {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 30px;
              line-height: 60px;
              width: 83px;
              height: 83px;
              background: #FFFFFF;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center; }
            .jeans__inner__right__block__time__items__desc {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 60px;
              text-align: center; }

.products {
  display: flex;
  justify-content: center; }
  .products__inner {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .products__inner__title {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px; }
    .products__inner__items {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      .products__inner__items__desc {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #707686; }
      .products__inner__items__link {
        display: flex;
        align-items: center;
        gap: 20px; }
        .products__inner__items__link .selected {
          color: black; }
        .products__inner__items__link__item {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 300;
          font-size: 26px;
          line-height: 60px;
          text-decoration: none;
          color: #707686; }
    .products__inner__block {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 0 0;
      flex-wrap: wrap;
      gap: 50px 0; }
      .products__inner__block__items {
        display: flex;
        flex-direction: column;
        max-width: 255px;
        width: 100%; }
        .products__inner__block__items__top {
          width: 100%;
          background: #F7F8FC;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .products__inner__block__items__top__title {
            width: 100%;
            display: flex;
            justify-content: space-between; }
            .products__inner__block__items__top__title__left {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 25px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #FFFFFF;
              width: 38px;
              height: 17px;
              background: #31797E;
              border-radius: 2px;
              display: flex;
              justify-content: center;
              margin: 10px; }
            .products__inner__block__items__top__title__right {
              font-family: 'Outfit';
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 25px;
              display: flex;
              align-items: center;
              text-align: center;
              color: #FFFFFF;
              width: 38px;
              height: 17px;
              background: #F04726;
              border-radius: 2px;
              justify-content: center;
              display: flex;
              margin: 10px; }
          .products__inner__block__items__top__img {
            padding: 0 0 30px 0; }
            .products__inner__block__items__top__img img {
              max-width: 200px;
              max-height: 200px;
              width: 100%;
              height: 100%; }
        .products__inner__block__items__bottom {
          display: flex;
          flex-direction: column; }
          .products__inner__block__items__bottom__reviews {
            display: flex;
            gap: 5px; }
            .products__inner__block__items__bottom__reviews__title {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 25px;
              color: #7F8698; }
          .products__inner__block__items__bottom__title {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 50px; }
          .products__inner__block__items__bottom__price {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            color: #297176; }
            .products__inner__block__items__bottom__price span {
              font-family: 'Work Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 35px;
              color: #969DAD;
              padding: 0 0 0 30px;
              text-decoration: line-through 1px; }
          .products__inner__block__items__bottom__desc {
            display: flex;
            justify-content: space-between;
            align-items: center; }

.shop {
  display: flex;
  justify-content: center; }
  .shop__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap; }
    .shop__inner__item {
      max-width: 525px;
      width: 100%;
      background: #E9E6F0;
      display: flex;
      align-items: center; }
      .shop__inner__item__left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 0 0 30px; }
        .shop__inner__item__left__theme {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 60px;
          color: #589195; }
        .shop__inner__item__left__title {
          font-family: 'Outfit';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 35px;
          max-width: 200px; }
        .shop__inner__item__left__desc {
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          text-decoration-line: underline;
          color: black; }
      .shop__inner__item__right img {
        max-width: 300px; }
    .shop__inner .wheat {
      background: #F7EBD9; }

.none {
  background-color: inherit; }

.green {
  background: #31797E; }

button {
  cursor: pointer; }
