@media screen and (max-width: 1000px) {
    .shop__inner {
        justify-content: center;
        gap: 30px 0;
    }

    .jeans__inner {
        flex-wrap: wrap;
        gap: 30px 0;
        justify-content: center;
    }

    .latest__inner__bottom__block {
        flex-wrap: wrap;
        gap: 30px 0;
    }
}

@media screen and (max-width: 800px) {
    .header__link {
        display: none;
    }

    .main__inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .main__inner__left {
        justify-content: center;
        align-items: center;
    }

    .latest__inner__top {
        flex-wrap: wrap;
        gap: 30px 0;
    }

    .main__inner__left__desc {
        max-width: 300px;
    }

    .main__inner__left__title {
        max-width: 300px;
    }

    .main__inner__right__img {
        max-width: 300px;
    }

    .jeans__inner__left img {
        max-width: 300px;
    }

    .jeans__inner__right__desc {
        max-width: 300px;
    }

    .jeans__inner__right__title {
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .latest__inner__bottom__block {
        justify-content: center;
    }

    .latest__inner__top {
        justify-content: center;
    }

    .latest__inner__top__item {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .products__inner__items {
        flex-wrap: wrap;
    }

    .shop__inner__item__right img {
        max-width: 150px;
    }

    .products__inner__block {
        justify-content: center;
        text-align: center;
    }

    .products__inner__items__link {
        flex-wrap: wrap;
    }

    .jeans__inner__right__block__time {
        max-width: 300px;
    }

}